@model PersonAddRequest

@{
    Layout = "_Layout";
    ViewBag.Title = "新建人员信息";
}

<!DOCTYPE html>
<body>
<div>
    <a asp-controller="Person" asp-action="Home">返回主页</a>
    <h2>新建人员信息</h2>
    <div class="center-box">
        <form asp-controller="Person" asp-action="Create" method="post">

            @* PersonName *@
            <div class="form-field flex">
                <div class="w-25">
                    <label asp-for="PersonName" class="form-label pt">人员名称</label>
                </div>
                <div class="flex-1">
                    <input asp-for="PersonName" class="form-input">
                    <span asp-validation-for="PersonName" class="text-red"></span>
                </div>
            </div>
            @* Email *@
            <div class="form-field flex">
                <div class="w-25">
                    <label asp-for="Email" class="form-label pt">Email</label>
                </div>
                <div class="flex-1">
                    @* type email不能删除 默认为text所以验证邮箱需要email限制 *@
                    <input asp-for="Email" class="form-input">
                    <span asp-validation-for="Email" class="text-red"></span>
                </div>
            </div>
            @* DateOfBirth *@
            <div class="form-field flex">
                <div class="w-25">
                    <label asp-for="DateOfBirth" class="form-label pt">出生日期</label>
                </div>
                <div class="flex-1">
                    <input asp-for="DateOfBirth" class="form-input">
                    <span asp-validation-for="DateOfBirth" class="text-red"></span>
                </div>
            </div>
            @* Gender *@
            <div class="form-field flex">
                <div class="w-25">
                    <label class="form-label">性别</label>
                </div>
                <div class="flex-1">
                    @{
                        var genderNames = Enum.GetNames(typeof(GenderOptions));
                        foreach (var genderName in genderNames)
                        {
                            <input asp-for="Gender" type="radio" value="@genderName">
                            <label for="@genderName">@genderName</label>
                        }

                        <span asp-validation-for="Gender" class="text-red"></span>
                    }
                </div>
            </div>
            @* CountryName *@
            <div class="form-field flex">
                <div class="w-25">
                    <label asp-for="CountryId" class="form-label">国家</label>
                </div>
                <div class="flex-1">
                    <select asp-for="CountryId" asp-items="@ViewBag.Countries" class="form-input">
                        <option value="">请选择国家</option>
                    </select>
                    <span asp-validation-for="CountryId" class="text-red"></span>
                </div>
            </div>
            @* Address *@
            <div class="form-field flex">
                <div class="w-25">
                    <label asp-for="Address" class="form-label pt">地址</label>
                </div>
                <div class="flex-1">
                    <textarea asp-for="Address" class="form-input"></textarea>
                    <span asp-validation-for="Address" class="text-red"></span>
                </div>
            </div>
            @* ReceiveNewLetters *@
            <div class="form-field flex">
                <div class="w-25">
                </div>
                <div class="flex-1">
                    <input asp-for="ReceiveNewsLetters" type="checkbox" value="true">
                    <label asp-for="ReceiveNewsLetters" class="form-label">订阅新闻</label>
                    <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
                </div>
            </div>
            @* 提交 *@
            <div class="form-field flex">
                <div class="w-25">
                </div>
                <div class="flex-1">
                    <button class="button button-green-back"> 创 建</button>
                    @* <div asp-validation-summary="All" class="text-red"></div> *@
                    @if (ViewBag.Errors != null)
                    {
                        <div class="text-red ml">
                            <ul>
                                @foreach (var error in ViewBag.Errors)
                                {
                                    <li class="ml">@error</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>
</body>

@* @section scripts *@
@* { *@
@*     <script asp-fallback-test="Window.jQuery" asp-fallback-src="~/jquery.min.js" *@
@*             src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" *@
@*             integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" *@
@*             crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
@*     <script asp-fallback-test="Window.jQuery.validate" asp-fallback-src="~/jquery.validate.min.js" *@
@*             src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" *@
@*             integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" *@
@*             crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
@*     <script asp-fallback-test="Window.jQuery.validate.unobtrusive" *@
@*             asp-fallback-src="~/jquery.validate.unobtrusive.min.js" *@
@*             src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" *@
@*             integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" *@
@*             crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
@* } *@
